<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.whyred">
    <application
        android:label="FrameworkResOverlayWhyred"
        android:hasCode="false" />

    <overlay
        android:targetPackage="android"
        android:isStatic="true"
        android:priority="1000" />
</manifest>
